<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mitra</key>
	<array>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>name</key>
			<string>Home</string>
			<key>level</key>
			<integer>0</integer>
			<key>img</key>
			<string>myprofile</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>name</key>
			<string>Customer Portfolio</string>
			<key>level</key>
			<integer>0</integer>
			<key>img</key>
			<string>myprofile</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>Object</key>
			<array>
				<dict>
					<key>name</key>
					<string>- Panin Dana Maksima -</string>
					<key>level</key>
					<string>1</string>
					<key>controller</key>
					<string>mokletdevServiceController</string>
					<key>tag</key>
					<string>11</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>12</string>
					<key>name</key>
					<string>- Panin Dana Prima -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Syariah Saham -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Bersama Plus -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Bersama -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Unggulan -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Syariah Berimbang -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana USD -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Prioritas -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Utama Plus 2 -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Gebyar Indonesia II -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Likuid -</string>
					<key>level</key>
					<string>1</string>
				</dict>
			</array>
			<key>name</key>
			<string>Produk &amp; Kinerja</string>
			<key>level</key>
			<integer>0</integer>
			<key>img</key>
			<string>myprofile</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>Object</key>
			<array>
				<dict>
					<key>name</key>
					<string>- Hasil Investasi -</string>
					<key>level</key>
					<string>1</string>
					<key>controller</key>
					<string>mokletdevServiceController</string>
					<key>tag</key>
					<string>11</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>12</string>
					<key>name</key>
					<string>- Kebutuhan Investasi -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Hasil Investasi Berkala -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Kebutuhan Investasi Berkala -</string>
					<key>level</key>
					<string>1</string>
				</dict>
			</array>
			<key>name</key>
			<string>Investor Toolkit</string>
			<key>level</key>
			<integer>0</integer>
			<key>img</key>
			<string>myprofile</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>name</key>
			<string>Marketing Selling Fee</string>
			<key>level</key>
			<integer>0</integer>
			<key>img</key>
			<string>myprofile</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>name</key>
			<string>Cycle Of Life</string>
			<key>level</key>
			<integer>0</integer>
			<key>img</key>
			<string>myprofile</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>name</key>
			<string>Logout</string>
			<key>level</key>
			<integer>0</integer>
			<key>img</key>
			<string>myprofile</string>
		</dict>
	</array>
	<key>nasabah</key>
	<array>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>name</key>
			<string>Home</string>
			<key>level</key>
			<integer>0</integer>
			<key>img</key>
			<string>myprofile</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>Object</key>
			<array>
				<dict>
					<key>name</key>
					<string>- Panin Dana Maksima -</string>
					<key>level</key>
					<string>1</string>
					<key>controller</key>
					<string>mokletdevServiceController</string>
					<key>tag</key>
					<string>11</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>12</string>
					<key>name</key>
					<string>- Panin Dana Prima -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Syariah Saham -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Bersama Plus -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Bersama -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Unggulan -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Syariah Berimbang -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana USD -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Prioritas -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Utama Plus 2 -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Gebyar Indonesia II -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Likuid -</string>
					<key>level</key>
					<string>1</string>
				</dict>
			</array>
			<key>name</key>
			<string>Produk &amp; Kinerja</string>
			<key>level</key>
			<integer>0</integer>
			<key>img</key>
			<string>myprofile</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>Object</key>
			<array>
				<dict>
					<key>name</key>
					<string>- Hasil Investasi -</string>
					<key>level</key>
					<string>1</string>
					<key>controller</key>
					<string>mokletdevServiceController</string>
					<key>tag</key>
					<string>11</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>12</string>
					<key>name</key>
					<string>- Kebutuhan Investasi -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Hasil Investasi Berkala -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Kebutuhan Investasi Berkala -</string>
					<key>level</key>
					<string>1</string>
				</dict>
			</array>
			<key>name</key>
			<string>Investor Toolkit</string>
			<key>level</key>
			<integer>0</integer>
			<key>img</key>
			<string>myprofile</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>name</key>
			<string>Nasabah</string>
			<key>level</key>
			<integer>0</integer>
			<key>Object</key>
			<array>
				<dict>
					<key>name</key>
					<string>Informasi Nasabah</string>
					<key>level</key>
					<string>1</string>
					<key>tag</key>
					<string>11</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>Cek Saldo</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>History Transaksi</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>Fund Fact Sheet</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>Unduh Formulir</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>Program Auto Debet</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>Top Up Online</string>
					<key>level</key>
					<string>1</string>
				</dict>
			</array>
			<key>img</key>
			<string>myprofile</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>name</key>
			<string>Logout</string>
			<key>level</key>
			<integer>0</integer>
			<key>img</key>
			<string>myprofile</string>
		</dict>
	</array>
	<key>biasa</key>
	<array>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>name</key>
			<string>Home</string>
			<key>level</key>
			<integer>0</integer>
			<key>img</key>
			<string>myprofile</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>Object</key>
			<array>
				<dict>
					<key>name</key>
					<string>- Panin Dana Maksima -</string>
					<key>level</key>
					<string>1</string>
					<key>controller</key>
					<string>mokletdevServiceController</string>
					<key>tag</key>
					<string>11</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>12</string>
					<key>name</key>
					<string>- Panin Dana Prima -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Syariah Saham -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Bersama Plus -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Bersama -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Unggulan -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Syariah Berimbang -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana USD -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Prioritas -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Utama Plus 2 -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Gebyar Indonesia II -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Panin Dana Likuid -</string>
					<key>level</key>
					<string>1</string>
				</dict>
			</array>
			<key>name</key>
			<string>Produk &amp; Kinerja</string>
			<key>level</key>
			<integer>0</integer>
			<key>img</key>
			<string>myprofile</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>Object</key>
			<array>
				<dict>
					<key>name</key>
					<string>- Hasil Investasi -</string>
					<key>level</key>
					<string>1</string>
					<key>controller</key>
					<string>mokletdevServiceController</string>
					<key>tag</key>
					<string>11</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>12</string>
					<key>name</key>
					<string>- Kebutuhan Investasi -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Hasil Investasi Berkala -</string>
					<key>level</key>
					<string>1</string>
				</dict>
				<dict>
					<key>tag</key>
					<string>13</string>
					<key>name</key>
					<string>- Kebutuhan Investasi Berkala -</string>
					<key>level</key>
					<string>1</string>
				</dict>
			</array>
			<key>name</key>
			<string>Investor Toolkit</string>
			<key>level</key>
			<integer>0</integer>
			<key>img</key>
			<string>myprofile</string>
		</dict>
	</array>
</dict>
</plist>
